@CHARSET "ISO-8859-1";

@mixin input-placeholder {
		&.placeholder { @content; }
		&:-moz-placeholder { @content; }
		&::-moz-placeholder { @content; }
		&:-ms-input-placeholder { @content; }
		&::-webkit-input-placeholder { @content; } 
}

@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;
$blue: #66B9E3; 
$charcoal: #323232;

$slant-line-angle:30deg;
$slant-line-length:300px;
$slant-line-height:(cos($slant-line-angle)) * $slant-line-length;
$slant-line-width:(sin($slant-line-angle)) * $slant-line-length;



$b1-width:200px;
$b1-height:65px;
$b1-shrink-scalar:.13;
$b1-line-weight: 2px;
$b1-std-line-length: 20px;
$b1-hover-line-length:$b1-std-line-length * (1 - $b1-shrink-scalar * 2);
$b1-hover-horizontal-offset:$b1-shrink-scalar * $b1-width;
$b1-hover-vertical-offset:$b1-shrink-scalar * $b1-height;
$b1-line-color:rgba(80,80,80,.9);
$b1-hover-transition-duration: .2s;

$b2-width:200px;
$b2-height:65px;
$b2-line-color:rgba(80,80,80,.9);
$b2-line-weight:2px;
$b2-std-side-length-scalar:.66;
$b2-hover-side-length-scalar:.33;
$b2-std-vertical-length:$b2-height * $b2-std-side-length-scalar;
$b2-std-horizontal-length:0px;
$b2-std-vertical-offset:($b2-height - $b2-std-vertical-length) / 2;
$b2-std-horizontal-offset:0px;//($b2-width - $b2-std-horizontal-length) / 2;
$b2-hover-vertical-length:$b2-height * $b2-hover-side-length-scalar;
$b2-hover-horizontal-length:$b2-width * $b2-hover-side-length-scalar;
$b2-hover-transition-duration: .2s;

$default-text-shadow-color: rgba(70,70,70,.5);
$default-text-shadow-blur: 6px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 2px;

$OpenSans: "OpenSans", "OpenSans_IE";
$OpenSansLt: "OpenSansLt", "OpenSansLt_IE";

@import "compass/css3";

@include font-face("OpenSans", font-files("//is.byu.edu/site/resources/fonts/OpenSans-regular.ttf", "//is.byu.edu/site/resources/fonts/OpenSans-regular.ttf", "//is.byu.edu/site/resources/fonts/OpenSans-regular.ttf", "//is.byu.edu/site/resources/fonts/OpenSans-regular.ttf"));
@include font-face("OpenSansLt", font-files("//is.byu.edu/site/resources/fonts/opensans-light-webfont.ttf", "//is.byu.edu/site/resources/fonts/opensans-light-webfont.woff", "//is.byu.edu/site/resources/fonts/opensans-light-webfont.eot", "//is.byu.edu/site/resources/fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLt_IE", font-files("//is.byu.edu/site/resources/fonts/opensans-light-webfont.ttf", "//is.byu.edu/site/resources/fonts/opensans-light-webfont.woff", "//is.byu.edu/site/resources/fonts/opensans-light-webfont.eot", "//is.byu.edu/site/resources/fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLtCn", font-files("//is.byu.edu/site/resources/fonts/OpenSans-CondLight.ttf", "examples/bgrove.otf"));
@include font-face("OpenSans_IE", font-files("//is.byu.edu/site/resources/fonts/opensans-regular-webfont.eot", "examples/bgrove.otf"));


html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:$OpenSansLt;
}

div, button{
	padding:0;
	margin:0;
	border:0px;
	
}

.section {
		
}

p {
	margin:0;
	padding:0;
}

h1, h2, h3, h4 {
	font-family:$OpenSansLt;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
}

h2 {
	font-size:1.35rem;
	font-family:'.HelveticaNeueDeskInterface-Regular';
	font-weight:200;
}

.programs-table {
	width:1200px;
	margin:0px auto;
	margin-top:100px;
	vertical-align:top;
}

.program {
	display:inline-block;
	position:relative;
	text-align:center;
	width:33%;
	height:750px;
	background-color:rgba(200,200,200,.0);
	padding-top:100px;
	
	&:first-child:before {
		display:inline-block;
		position:absolute;
		top:0px;
		left:0;
		content:"";
		width:2px;;
		height:$slant-line-length;
		background-color:rgba(80,80,80,.9);
		@include rotate($slant-line-angle);
		z-index:1;
	}
	
	&:after {
		display:inline-block;
		position:absolute;
		top:0px;
		right:0;
		content:"";
		width:2px;;
		height:$slant-line-length;
		background-color:rgba(80,80,80,.9);
		@include rotate($slant-line-angle);
		z-index:1;
	}
	
	& .program-description-container {
		position:absolute;
		top:($slant-line-length + $slant-line-height) / 2;
		left:-$slant-line-width / 2 - 1px;
		height:200px;
		width:100%;
		border-left:2px solid black;
	}
}

.corner-button{
	display:block;
	position:relative;
	width:$b1-width;
	height:$b2-height;
	margin:1rem auto;
	background-color:rgba(0,0,0,0);
	font-size:1.1rem;
	letter-spacing:1.5px;
	font-weight:200;

	& .top-left-corner {
		position:absolute;
		top:0;
		left:0;
		
		&:before{
			display:block;
			height:$b1-line-weight;
			width:$b1-std-line-length;
			content:"";
			background-color:$b1-line-color;
			position:absolute;
			top:0;
			left:0;
			@include transition-duration($b1-hover-transition-duration);	
			
		}
		
		&:after{
			display:block;
			width:$b1-line-weight;
			height:$b1-std-line-length;
			content:"";
			background-color:$b1-line-color;
			position:absolute;
			top:0;
			left:0;
			@include transition-duration($b1-hover-transition-duration);
			
		}
	}
	
	& .bottom-right-corner {
		width:25px;
		height:25px;
		position:absolute;
		bottom:0;
		right:0;
		
		&:before{
			display:block;
			height:$b1-line-weight;
			width:$b1-std-line-length;
			content:"";
			background-color:$b1-line-color;
			position: absolute;
			bottom: 0;
			right: 0;
			@include transition-duration($b1-hover-transition-duration);
			
		}
		
		&:after{
			display:block;
			width:$b1-line-weight;
			height:$b1-std-line-length;
			content:"";
			background-color:$b1-line-color;
			position: absolute;
			bottom: 0;
			right: 0;
			@include transition-duration($b1-hover-transition-duration);
			
		}
	}
	
	&:hover {
		cursor:pointer;
	
		& .bottom-right-corner:before {
			bottom: $b1-hover-vertical-offset;
			right: $b1-hover-horizontal-offset;
			width:$b1-hover-line-length;
		
		}
		
		& .bottom-right-corner:after {
			bottom: $b1-hover-vertical-offset;
			right: $b1-hover-horizontal-offset;
			height:$b1-hover-line-length;
		
		}
		
		& .top-left-corner:before {
			top:$b1-hover-vertical-offset;
			left:$b1-hover-horizontal-offset;
			width:$b1-hover-line-length;
			
		}
		
		& .top-left-corner:after {
			top:$b1-hover-vertical-offset;
			left:$b1-hover-horizontal-offset;
			height:$b1-hover-line-length;
		
		}
	}
}

.side-button {
	position:relative;
	display:block;
	width:$b2-width;
	height:$b2-height;
	margin:1rem auto;
	background-color:rgba(0,0,0,0);
	font-size:1.1rem;
	letter-spacing:1.5px;
	font-weight:200;
	
	& .top-left-corner {
		position:absolute;
		top:0;
		left:0;
		
		&:before {
			display:block;
			height:$b2-line-weight;
			width:$b2-std-horizontal-length;
			content:"";
			background-color:$b2-line-color;
			position:absolute;
			top:$b2-std-vertical-offset;
			left:$b2-std-horizontal-offset;
			@include transition-duration($b2-hover-transition-duration);
		}
		
		&:after {
			display:block;
			width:$b2-line-weight;
			height:$b2-std-vertical-length;
			content:"";
			background-color:$b2-line-color;
			position:absolute;
			top:$b2-std-vertical-offset;
			left:$b2-std-horizontal-offset;
			@include transition-duration($b2-hover-transition-duration);
		
		}
	}
	
	& .bottom-right-corner {
	
		&:before {
			display:block;
			height:$b2-line-weight;
			width:$b2-std-horizontal-length;
			content:"";
			background-color:$b2-line-color;
			position:absolute;
			bottom:$b2-std-vertical-offset;
			right:$b2-std-horizontal-offset;
			@include transition-duration($b2-hover-transition-duration);
		
		}
		
		&:after {
			display:block;
			width:$b2-line-weight;
			height:$b2-std-vertical-length;
			content:"";
			background-color:$b2-line-color;
			position:absolute;
			bottom:$b2-std-vertical-offset;
			right:$b2-std-horizontal-offset;
			@include transition-duration($b2-hover-transition-duration);
		
		}
	}
	
		&:hover {
			cursor:pointer;
			
			& .top-left-corner {
			
				&:before {
				width:$b2-hover-horizontal-length;
				left:0;
				top:0;
					
				}
					
				&:after {
				height:$b2-hover-vertical-length;
				left:0;
				top:0;
					
				}
			}
		
		& .bottom-right-corner {
		
		
			&:before {
				width:$b2-hover-horizontal-length;
				right:0;
				bottom:0;
			}
			
			&:after {
				height:$b2-hover-vertical-length;
				right:0;
				bottom:0;
			}
		}	
	}
}




















