@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
@CHARSET "ISO-8859-1";
@font-face {
  font-family: "OpenSans Test";
  src: url('../fonts/../../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/../../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/../../fonts/OpenSans-regular.ttf') format('truetype');
}
@font-face {
  font-family: "OpenSansLt";
  src: url('../fonts/../../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/../../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/../../fonts/opensans-light-webfont.eot') format('embedded-opentype'), url('../fonts/../../fonts/opensans-light-webfont.svg') format('svg');
}
@font-face {
  font-family: "OpenSansLt_IE";
  src: url('../fonts/../../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/../../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/../../fonts/opensans-light-webfont.eot') format('embedded-opentype'), url('../fonts/../../fonts/opensans-light-webfont.svg') format('svg');
}
@font-face {
  font-family: "OpenSansLtCn";
  src: url('../fonts/../../fonts/OpenSans-CondLight.ttf') format('truetype'), url('../fonts/examples/bgrove.otf') format('opentype');
}
@font-face {
  font-family: "OpenSans_IE";
  src: url('../fonts/../../fonts/opensans-regular-webfont.eot') format('embedded-opentype'), url('../fonts/examples/bgrove.otf') format('opentype');
}
/* line 158, ../sass/main.scss */
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 164, ../sass/main.scss */
body {
  font-family: "Open Sans";
  font-size: .9rem;
  text-align: center;
  color: #4a4a4a;
}

/* line 172, ../sass/main.scss */
div, button {
  padding: 0;
  margin: 0;
  border: 0px;
}

/* line 179, ../sass/main.scss */
section {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 185, ../sass/main.scss */
p {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}

/* line 191, ../sass/main.scss */
h1, h2, h3, h4 {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

/* line 199, ../sass/main.scss */
h1 {
  font-size: 2.25rem;
  letter-spacing: 1px;
}

/* line 204, ../sass/main.scss */
h2 {
  font-size: 1.85rem;
}

/* line 209, ../sass/main.scss */
h3 {
  font-size: 1.575rem;
}

/* line 213, ../sass/main.scss */
button {
  font-family: "Open Sans";
  font-weight: 400;
}

/********************************** B U T T O N S ***************************************************/
/* line 222, ../sass/main.scss */
.corner-button {
  display: block;
  position: relative;
  width: 200px;
  height: 65px;
  margin: 1rem auto;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
/* line 232, ../sass/main.scss */
.corner-button .top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 237, ../sass/main.scss */
.corner-button .top-left-corner:before {
  display: block;
  height: 2px;
  width: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 250, ../sass/main.scss */
.corner-button .top-left-corner:after {
  display: block;
  width: 2px;
  height: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 264, ../sass/main.scss */
.corner-button .bottom-right-corner {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 271, ../sass/main.scss */
.corner-button .bottom-right-corner:before {
  display: block;
  height: 2px;
  width: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 284, ../sass/main.scss */
.corner-button .bottom-right-corner:after {
  display: block;
  width: 2px;
  height: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 298, ../sass/main.scss */
.corner-button:hover {
  cursor: pointer;
}
/* line 301, ../sass/main.scss */
.corner-button:hover .bottom-right-corner:before {
  bottom: 8.45px;
  right: 26px;
  width: 14.8px;
}
/* line 308, ../sass/main.scss */
.corner-button:hover .bottom-right-corner:after {
  bottom: 8.45px;
  right: 26px;
  height: 14.8px;
}
/* line 315, ../sass/main.scss */
.corner-button:hover .top-left-corner:before {
  top: 8.45px;
  left: 26px;
  width: 14.8px;
}
/* line 322, ../sass/main.scss */
.corner-button:hover .top-left-corner:after {
  top: 8.45px;
  left: 26px;
  height: 14.8px;
}

/* line 331, ../sass/main.scss */
.side-button {
  position: relative;
  display: block;
  width: 200px;
  height: 65px;
  margin: 1rem auto;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
/* line 341, ../sass/main.scss */
.side-button .top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 346, ../sass/main.scss */
.side-button .top-left-corner:before {
  display: block;
  height: 2px;
  width: 0px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 11.05px;
  left: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 358, ../sass/main.scss */
.side-button .top-left-corner:after {
  display: block;
  width: 2px;
  height: 42.9px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 11.05px;
  left: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 374, ../sass/main.scss */
.side-button .bottom-right-corner:before {
  display: block;
  height: 2px;
  width: 0px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 11.05px;
  right: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 387, ../sass/main.scss */
.side-button .bottom-right-corner:after {
  display: block;
  width: 2px;
  height: 42.9px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 11.05px;
  right: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 401, ../sass/main.scss */
.side-button:hover {
  cursor: pointer;
}
/* line 406, ../sass/main.scss */
.side-button:hover .top-left-corner:before {
  width: 66px;
  left: 0;
  top: 0;
}
/* line 413, ../sass/main.scss */
.side-button:hover .top-left-corner:after {
  height: 21.45px;
  left: 0;
  top: 0;
}
/* line 424, ../sass/main.scss */
.side-button:hover .bottom-right-corner:before {
  width: 66px;
  right: 0;
  bottom: 0;
}
/* line 430, ../sass/main.scss */
.side-button:hover .bottom-right-corner:after {
  height: 21.45px;
  right: 0;
  bottom: 0;
}

/********************************** Q U A R T E R - B O X ***************************************************/
/* line 441, ../sass/main.scss */
.quad-container {
  max-width: 1136.05px;
  font-size: .875rem;
  text-align: left;
}
/* line 446, ../sass/main.scss */
.quad-container .quarter {
  vertical-align: top;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 256px;
  min-height: 120px;
  margin: 18.675px;
  padding-top: 14.26px;
}
/* line 455, ../sass/main.scss */
.quad-container .quarter:nth-of-type(4n - 3) {
  margin-left: 0;
}
/* line 459, ../sass/main.scss */
.quad-container .quarter:nth-of-type(4n) {
  margin-right: 0;
}
/* line 468, ../sass/main.scss */
.quad-container .half {
  vertical-align: top;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 549.35px;
  height: 120px;
  margin: 18.675px;
  padding-top: 14.26px;
}
/* line 477, ../sass/main.scss */
.quad-container .half:first-of-type {
  margin-left: 0;
}
/* line 481, ../sass/main.scss */
.quad-container .half:last-of-type {
  margin-right: 0;
}

/******************************                  *************************************************/
/****************************** H O M E  P A G E ************************************************/
/******************************                  ************************************************/
/* line 496, ../sass/main.scss */
#home-page {
  /********************************** T O P  S E C T I O N ***************************************************/
  /********************************** T A B L E ***************************************************/
}
/* line 500, ../sass/main.scss */
#home-page #top-section {
  width: 100%;
  height: 700px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
/* line 508, ../sass/main.scss */
#home-page #top-section .header-container {
  position: absolute;
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  color: #041e42;
  padding-top: 4rem;
}
/* line 521, ../sass/main.scss */
#home-page #top-section .header-container h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
/* line 526, ../sass/main.scss */
#home-page #top-section .header-container h2 {
  font-size: 1.85rem;
}
/* line 532, ../sass/main.scss */
#home-page .lockers {
  content: "";
  display: inline-block;
  background-image: url("../img/locker.jpg");
  background-size: contain;
  background-position: left;
  width: calc(50% - 328px);
  height: 100%;
}
/* line 542, ../sass/main.scss */
#home-page .lockers:first-of-type {
  background-position: right;
}
/* line 548, ../sass/main.scss */
#home-page #header-image {
  height: 100%;
  display: inline-block;
  /*background-image: url("../img/Krystal_red.jpg");
  background-size: contain;
  background-repeat:no-repeat;
  background-position:center;			
  position:relative;*/
  /*&:after {
  	content:"";
  	display:inline-block;
  	background-image: url("../img/locker.jpg");
  	background-size: contain;
  	//background-repeat:no-repeat;
  	background-position:center;
  	width:50%;
  	height:100%;
  	position:absolute;
  	right:-15%;
  }
  
  &:before {
  	content:"";
  	display:inline-block;
  	background-image: url("../img/locker.jpg");
  	background-size: contain;
  	//background-repeat:no-repeat;
  	background-position:center;
  	width:50%;
  	height:100%;
  	position:absolute;
  	left:-15%;
  }*/
}
/* line 586, ../sass/main.scss */
#home-page .programs-table {
  width: 1200px;
  margin: 4rem auto;
  vertical-align: top;
}
/* line 591, ../sass/main.scss */
#home-page .programs-table > h2 {
  margin-bottom: .5rem;
}
/* line 595, ../sass/main.scss */
#home-page .programs-table > h3 {
  margin-bottom: 4rem;
}
/* line 600, ../sass/main.scss */
#home-page .program {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  width: 33%;
  height: 750px;
  background-color: rgba(200, 200, 200, 0);
}
/* line 609, ../sass/main.scss */
#home-page .program:first-child:before {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  content: "";
  width: 2px;
  height: 300px;
  background-color: rgba(80, 80, 80, 0.9);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 1;
}
/* line 622, ../sass/main.scss */
#home-page .program:after {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  content: "";
  width: 2px;
  height: 300px;
  background-color: rgba(80, 80, 80, 0.9);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 1;
}
/* line 635, ../sass/main.scss */
#home-page .program .table-header {
  height: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 641, ../sass/main.scss */
#home-page .program .table-header:before {
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -webkit-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
  content: "";
  height: 225px;
  width: 100%;
  position: absolute;
  display: block;
  z-index: -1;
}
/* line 651, ../sass/main.scss */
#home-page .program .table-header > *:first-child {
  padding-top: 87.5px;
}
/* line 660, ../sass/main.scss */
#home-page .program .program-description-container {
  position: absolute;
  top: 225px;
  left: -64.95191px;
  min-height: 450px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
  text-align: left;
  line-height: 1.5rem;
}
/* line 676, ../sass/main.scss */
#home-page .program .program-description-container a {
  color: #444;
  text-decoration: none;
}
/* line 681, ../sass/main.scss */
#home-page .program .program-description-container ul {
  padding-left: 1.25rem;
}
/* line 684, ../sass/main.scss */
#home-page .program .program-description-container ul li {
  margin-top: .95rem;
  line-height: 1.35rem;
  font-size: .95rem;
}
/* line 691, ../sass/main.scss */
#home-page .program .program-description-container .button-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
  padding-bottom: 1rem;
}
/* line 705, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header, #home-page .program:nth-of-type(odd) .program-description-container {
  color: #ddd;
}
/* line 707, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header button, #home-page .program:nth-of-type(odd) .program-description-container button {
  color: #ddd;
}
/* line 710, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header button div:before, #home-page .program:nth-of-type(odd) .table-header button div:after, #home-page .program:nth-of-type(odd) .program-description-container button div:before, #home-page .program:nth-of-type(odd) .program-description-container button div:after {
  background-color: #ddd;
}
/* line 714, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header button a, #home-page .program:nth-of-type(odd) .program-description-container button a {
  color: #ddd;
  text-decoration: none;
}
/* line 721, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header:before, #home-page .program:nth-of-type(odd) .program-description-container {
  background-color: #041e42;
  color: #ddd;
}
/* line 727, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header:before button a, #home-page .program:nth-of-type(odd) .program-description-container button a {
  color: #ddd;
  text-decoration: none;
}

/**********************************                                          ****************************************************/
/********************************** S T A N D A R D  P R O G R A M  P A G E  ***************************************************/
/**********************************                                          ****************************************************/
/* line 740, ../sass/main.scss */
#programs {
  display: inline-block;
  /********************************** T O P  S E C T I O N ***************************************************/
  /********************************** A B O U T  S E C T I O N ***************************************************/
  /********************************** C O U R S E S  S E C T I O N ***************************************************/
}
/* line 745, ../sass/main.scss */
#programs #top-section {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding: 4rem;
}
/* line 754, ../sass/main.scss */
#programs #top-section h1 {
  font-weight: 400;
  color: #041e42;
}
/* line 759, ../sass/main.scss */
#programs #top-section h3 {
  font-weight: 200;
}
/* line 764, ../sass/main.scss */
#programs #about {
  text-align: left;
  padding: 0 4rem;
}
/* line 768, ../sass/main.scss */
#programs #about h2 {
  font-weight: 200;
}
/* line 772, ../sass/main.scss */
#programs #about .quarter, #programs #about .half {
  border-top: 2px solid #555;
}
/* line 779, ../sass/main.scss */
#programs #courses {
  padding: 0 4rem;
}
/* line 782, ../sass/main.scss */
#programs #courses h2 {
  text-align: left;
  padding-top: 4rem;
  font-weight: 200;
  max-width: 256px;
  white-space: nowrap;
  padding-bottom: 20.675px;
  border-bottom: 2px solid #555;
}

/* line 838, ../sass/main.scss */
#course-category-container {
  position: relative;
}
/* line 841, ../sass/main.scss */
#course-category-container .course-category {
  position: absolute;
  height: 85px;
  width: 256px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 .5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
}
/* line 853, ../sass/main.scss */
#course-category-container .course-category h3 {
  display: block;
  text-align: center;
  font-weight: 200;
  font-size: 1.35rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
/* line 862, ../sass/main.scss */
#course-category-container .course-category .close-button {
  display: none;
  position: absolute;
  top: 8px;
  right: -47px;
  width: 60px;
  height: 25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 871, ../sass/main.scss */
#course-category-container .course-category .close-button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 2px;
  height: 100%;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transform: skew(45deg, 5deg);
  -ms-transform: skew(45deg, 5deg);
  -webkit-transform: skew(45deg, 5deg);
  transform: skew(45deg, 5deg);
  background-color: #5a5a5a;
}
/* line 884, ../sass/main.scss */
#course-category-container .course-category .close-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 2px;
  height: 100%;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transform: skew(-45deg, 5deg);
  -ms-transform: skew(-45deg, 5deg);
  -webkit-transform: skew(-45deg, 5deg);
  transform: skew(-45deg, 5deg);
  background-color: #5a5a5a;
}
/* line 899, ../sass/main.scss */
#course-category-container .course-category > section {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin: 0 1.25%;
  text-align: left;
}
/* line 906, ../sass/main.scss */
#course-category-container .course-category > section .italicized {
  margin-top: 1.5em;
  margin-bottom: .75rem;
  font-style: italic;
  display: inline-block;
  height: 2.5rem;
}
/* line 914, ../sass/main.scss */
#course-category-container .course-category > section .category {
  font-size: 1rem;
  color: #5a5a5a;
  line-height: 1.75rem;
  margin-top: .75rem;
}
/* line 921, ../sass/main.scss */
#course-category-container .course-category > section .classes {
  font-weight: 200;
  letter-spacing: .25px;
}
/* line 925, ../sass/main.scss */
#course-category-container .course-category > section .classes.class-list {
  margin-top: 1.05rem;
}
/* line 929, ../sass/main.scss */
#course-category-container .course-category > section .classes a {
  color: #39b54a;
}
/* line 935, ../sass/main.scss */
#course-category-container .course-category div:before, #course-category-container .course-category div:after {
  -moz-transition: height, 0.2s;
  -o-transition: height, 0.2s;
  -webkit-transition: height, 0.2s;
  transition: height, 0.2s;
  -moz-transition: top, 0.2s;
  -o-transition: top, 0.2s;
  -webkit-transition: top, 0.2s;
  transition: top, 0.2s;
  -moz-transition: bottom, 0.2s;
  -o-transition: bottom, 0.2s;
  -webkit-transition: bottom, 0.2s;
  transition: bottom, 0.2s;
}
/* line 941, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(-n + 4) {
  top: 0;
}
/* line 945, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(-n + 8):nth-of-type(n + 5) {
  top: 125px;
}
/* line 949, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(-n + 12):nth-of-type(n + 9) {
  top: 250px;
}
/* line 953, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 3) {
  left: 0;
}
/* line 957, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 2) {
  left: 293.35px;
}
/* line 961, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 1) {
  left: 586.7px;
}
/* line 965, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 0) {
  left: 880.05px;
}
/* line 969, ../sass/main.scss */
#course-category-container .course-category div {
  position: absolute;
}
/* line 972, ../sass/main.scss */
#course-category-container .course-category div:before, #course-category-container .course-category div:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #666;
}
/* line 980, ../sass/main.scss */
#course-category-container .course-category .tl {
  top: 0;
  left: 0;
}
/* line 984, ../sass/main.scss */
#course-category-container .course-category .tl:after {
  width: 0;
  height: 2px;
}
/* line 989, ../sass/main.scss */
#course-category-container .course-category .tl:before {
  width: 2px;
  height: 28.05px;
  top: 14.45px;
}
/* line 996, ../sass/main.scss */
#course-category-container .course-category .tr {
  top: 0;
  right: 2px;
}
/* line 1000, ../sass/main.scss */
#course-category-container .course-category .tr:after {
  right: 0;
  top: 0;
  width: 0;
  height: 2px;
}
/* line 1007, ../sass/main.scss */
#course-category-container .course-category .tr:before {
  width: 2px;
  height: 28.05px;
  top: 14.45px;
}
/* line 1014, ../sass/main.scss */
#course-category-container .course-category .bl {
  bottom: 0;
  left: 0;
}
/* line 1018, ../sass/main.scss */
#course-category-container .course-category .bl:after {
  width: 0;
  height: 2px;
}
/* line 1023, ../sass/main.scss */
#course-category-container .course-category .bl:before {
  width: 2px;
  height: 28.05px;
  bottom: 14.45px;
}
/* line 1030, ../sass/main.scss */
#course-category-container .course-category .br {
  bottom: 0;
  right: 2px;
}
/* line 1034, ../sass/main.scss */
#course-category-container .course-category .br:after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
}
/* line 1041, ../sass/main.scss */
#course-category-container .course-category .br:before {
  width: 2px;
  height: 28.05px;
  bottom: 14.45px;
}
/* line 1048, ../sass/main.scss */
#course-category-container .course-category:hover {
  cursor: pointer;
}
/* line 1052, ../sass/main.scss */
#course-category-container .course-category:hover .tl:before {
  height: 21.25px;
  top: 21.25px;
}
/* line 1057, ../sass/main.scss */
#course-category-container .course-category:hover .tr:before {
  height: 21.25px;
  top: 21.25px;
}
/* line 1062, ../sass/main.scss */
#course-category-container .course-category:hover .bl:before {
  height: 21.25px;
  bottom: 21.25px;
}
/* line 1067, ../sass/main.scss */
#course-category-container .course-category:hover .br:before {
  height: 21.25px;
  bottom: 21.25px;
}
/* line 1073, ../sass/main.scss */
#course-category-container .course-category.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=7);
  opacity: 0.065;
}
/* line 1078, ../sass/main.scss */
#course-category-container .course-category.corners {
  -moz-transition: left 0.375s 0.24375s, width 0.375s ease 0.24375s, height 0.375s ease, top 0.375s;
  -o-transition: left 0.375s 0.24375s, width 0.375s ease 0.24375s, height 0.375s ease, top 0.375s;
  -webkit-transition: left 0.375s, width 0.375s ease, height 0.375s ease, top 0.375s;
  -webkit-transition-delay: 0.24375s, 0.24375s, 0s, 0s;
  transition: left 0.375s 0.24375s, width 0.375s ease 0.24375s, height 0.375s ease, top 0.375s;
}
/* line 1082, ../sass/main.scss */
#course-category-container .course-category.corners .tr:after {
  -moz-transition: width 0.375s 0.24375s;
  -o-transition: width 0.375s 0.24375s;
  -webkit-transition: width 0.375s;
  -webkit-transition-delay: 0.24375s;
  transition: width 0.375s 0.24375s;
}
/* line 1086, ../sass/main.scss */
#course-category-container .course-category.corners .br:after {
  -moz-transition: width 0.375s 0.24375s;
  -o-transition: width 0.375s 0.24375s;
  -webkit-transition: width 0.375s;
  -webkit-transition-delay: 0.24375s;
  transition: width 0.375s 0.24375s;
}
/* line 1090, ../sass/main.scss */
#course-category-container .course-category.corners .tl:before {
  height: 2px;
  top: 0;
}
/* line 1095, ../sass/main.scss */
#course-category-container .course-category.corners .tr:before {
  height: 2px;
  top: 0;
}
/* line 1100, ../sass/main.scss */
#course-category-container .course-category.corners .bl:before {
  height: 2px;
  bottom: 0;
}
/* line 1105, ../sass/main.scss */
#course-category-container .course-category.corners .br:before {
  height: 2px;
  bottom: 0;
}
/* line 1110, ../sass/main.scss */
#course-category-container .course-category.corners .close-button {
  display: block;
  -moz-transition: opacity 0.25s 0s, height 0.25s 0s;
  -o-transition: opacity 0.25s 0s, height 0.25s 0s;
  -webkit-transition: opacity 0.25s, height 0.25s;
  -webkit-transition-delay: 0s, 0s;
  transition: opacity 0.25s 0s, height 0.25s 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 25px;
}
/* line 1119, ../sass/main.scss */
#course-category-container .course-category.stretch {
  z-index: 1;
}
/* line 1122, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button {
  height: 38px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.25s 0.5s, height 0.25s 0.5s;
  -o-transition: opacity 0.25s 0.5s, height 0.25s 0.5s;
  -webkit-transition: opacity 0.25s, height 0.25s;
  -webkit-transition-delay: 0.5s, 0.5s;
  transition: opacity 0.25s 0.5s, height 0.25s 0.5s;
}
/* line 1127, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button:before {
  height: 100%;
}
/* line 1131, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button:after {
  height: 100%;
}
/* line 1135, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button:hover {
  cursor: pointer;
}
/* line 1140, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3), #course-category-container .course-category.stretch:nth-of-type(4n - 2), #course-category-container .course-category.stretch:nth-of-type(4n - 1), #course-category-container .course-category.stretch:nth-of-type(4n - 0) {
  top: -16px;
  left: 256px;
  height: 345.7px;
  width: 624.05px;
}
/* line 1146, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tl:before {
  height: 0;
  top: 0px;
}
/* line 1151, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tl:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tl:after, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tl:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tl:after {
  height: 0;
  top: 0px;
}
/* line 1156, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:before {
  height: 0;
  top: 0;
}
/* line 1161, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:after {
  width: 624.05px;
  height: 2px;
}
/* line 1166, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .bl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .bl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .bl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .bl:before {
  height: 0px;
  bottom: 0;
}
/* line 1171, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .br:after {
  width: 624.05px;
  height: 2px;
  bottom: 0;
}
/* line 1177, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .br:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .br:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .br:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .br:before {
  width: 2px;
  height: 0px;
  bottom: 0;
}
/* line 1184, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3), #course-category-container .course-category.stretch:nth-of-type(4n - 2) {
  -moz-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -o-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -webkit-transition: left 0.5s, width 0.5s ease, height 0.5s ease, top 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.325s, 0.325s;
  transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  cursor: default;
}
/* line 1188, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1192, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .br:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1196, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:before {
  -moz-transition: height 0.5s 0.325s;
  -o-transition: height 0.5s 0.325s;
  -webkit-transition: height 0.5s;
  -webkit-transition-delay: 0.325s;
  transition: height 0.5s 0.325s;
}
/* line 1201, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1), #course-category-container .course-category.stretch:nth-of-type(4n - 0) {
  -moz-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -o-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -webkit-transition: left 0.5s, width 0.5s ease, height 0.5s ease, top 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.325s, 0.325s;
  transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  cursor: default;
}
/* line 1205, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1209, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .br:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1213, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:before {
  -moz-transition: height 0.5s 0.325s;
  -o-transition: height 0.5s 0.325s;
  -webkit-transition: height 0.5s;
  -webkit-transition-delay: 0.325s;
  transition: height 0.5s 0.325s;
}
