@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
@CHARSET "ISO-8859-1";
@font-face {
  font-family: "OpenSans Test";
  src: url('../fonts/../../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/../../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/../../fonts/OpenSans-regular.ttf') format('truetype');
}
@font-face {
  font-family: "OpenSansLt";
  src: url('../fonts/../../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/../../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/../../fonts/opensans-light-webfont.eot') format('embedded-opentype'), url('../fonts/../../fonts/opensans-light-webfont.svg') format('svg');
}
@font-face {
  font-family: "OpenSansLt_IE";
  src: url('../fonts/../../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/../../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/../../fonts/opensans-light-webfont.eot') format('embedded-opentype'), url('../fonts/../../fonts/opensans-light-webfont.svg') format('svg');
}
@font-face {
  font-family: "OpenSansLtCn";
  src: url('../fonts/../../fonts/OpenSans-CondLight.ttf') format('truetype'), url('../fonts/examples/bgrove.otf') format('opentype');
}
@font-face {
  font-family: "OpenSans_IE";
  src: url('../fonts/../../fonts/opensans-regular-webfont.eot') format('embedded-opentype'), url('../fonts/examples/bgrove.otf') format('opentype');
}
/* line 158, ../sass/main.scss */
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 164, ../sass/main.scss */
body {
  font: .9rem "Open Sans";
  color: #4a4a4a;
  background: #fff;
  text-align: center;
}
/* line 170, ../sass/main.scss */
body header > * {
  text-align: left;
}
/* line 174, ../sass/main.scss */
body > div > section:last-of-type {
  margin-bottom: 4rem;
}

/* line 179, ../sass/main.scss */
div, button {
  padding: 0;
  margin: 0;
  border: 0px;
}

/* line 186, ../sass/main.scss */
section {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 192, ../sass/main.scss */
a {
  color: #39b54a;
}

/* line 196, ../sass/main.scss */
p {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}

/* line 202, ../sass/main.scss */
h1, h2, h3, h4 {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

/* line 210, ../sass/main.scss */
h1 {
  font-size: 2.25rem;
  letter-spacing: 1px;
}

/* line 215, ../sass/main.scss */
h2 {
  font-size: 1.85rem;
}

/* line 220, ../sass/main.scss */
h3 {
  font-size: 1.575rem;
}

/* line 224, ../sass/main.scss */
h4 {
  font-size: 1.35rem;
}

/* line 228, ../sass/main.scss */
button {
  font-family: "Open Sans";
  font-weight: 400;
}

/* line 233, ../sass/main.scss */
.no-break {
  white-space: nowrap;
}

/********************************** B U T T O N S ***************************************************/
/* line 240, ../sass/main.scss */
.corner-button {
  display: block;
  position: relative;
  width: 200px;
  height: 65px;
  margin: 1rem auto;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
/* line 250, ../sass/main.scss */
.corner-button .top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 255, ../sass/main.scss */
.corner-button .top-left-corner:before {
  display: block;
  height: 2px;
  width: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 268, ../sass/main.scss */
.corner-button .top-left-corner:after {
  display: block;
  width: 2px;
  height: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 282, ../sass/main.scss */
.corner-button .bottom-right-corner {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 289, ../sass/main.scss */
.corner-button .bottom-right-corner:before {
  display: block;
  height: 2px;
  width: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 302, ../sass/main.scss */
.corner-button .bottom-right-corner:after {
  display: block;
  width: 2px;
  height: 20px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 316, ../sass/main.scss */
.corner-button:hover {
  cursor: pointer;
}
/* line 319, ../sass/main.scss */
.corner-button:hover .bottom-right-corner:before {
  bottom: 8.45px;
  right: 26px;
  width: 14.8px;
}
/* line 326, ../sass/main.scss */
.corner-button:hover .bottom-right-corner:after {
  bottom: 8.45px;
  right: 26px;
  height: 14.8px;
}
/* line 333, ../sass/main.scss */
.corner-button:hover .top-left-corner:before {
  top: 8.45px;
  left: 26px;
  width: 14.8px;
}
/* line 340, ../sass/main.scss */
.corner-button:hover .top-left-corner:after {
  top: 8.45px;
  left: 26px;
  height: 14.8px;
}

/* line 349, ../sass/main.scss */
.side-button {
  position: relative;
  display: block;
  width: 200px;
  height: 65px;
  margin: 1rem auto;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}
/* line 359, ../sass/main.scss */
.side-button .top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 364, ../sass/main.scss */
.side-button .top-left-corner:before {
  display: block;
  height: 2px;
  width: 0px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 11.05px;
  left: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 376, ../sass/main.scss */
.side-button .top-left-corner:after {
  display: block;
  width: 2px;
  height: 42.9px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  top: 11.05px;
  left: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 392, ../sass/main.scss */
.side-button .bottom-right-corner:before {
  display: block;
  height: 2px;
  width: 0px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 11.05px;
  right: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 405, ../sass/main.scss */
.side-button .bottom-right-corner:after {
  display: block;
  width: 2px;
  height: 42.9px;
  content: "";
  background-color: rgba(80, 80, 80, 0.9);
  position: absolute;
  bottom: 11.05px;
  right: 0px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 419, ../sass/main.scss */
.side-button:hover {
  cursor: pointer;
}
/* line 424, ../sass/main.scss */
.side-button:hover .top-left-corner:before {
  width: 66px;
  left: 0;
  top: 0;
}
/* line 431, ../sass/main.scss */
.side-button:hover .top-left-corner:after {
  height: 21.45px;
  left: 0;
  top: 0;
}
/* line 442, ../sass/main.scss */
.side-button:hover .bottom-right-corner:before {
  width: 66px;
  right: 0;
  bottom: 0;
}
/* line 448, ../sass/main.scss */
.side-button:hover .bottom-right-corner:after {
  height: 21.45px;
  right: 0;
  bottom: 0;
}

/********************************** Q U A R T E R - B O X ***************************************************/
/* line 459, ../sass/main.scss */
.quad-container {
  max-width: 980.72px;
  font-size: .875rem;
  text-align: left;
}
/* line 464, ../sass/main.scss */
.quad-container .quarter {
  vertical-align: top;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 221px;
  min-height: 120px;
  margin: 16.12px;
  padding-top: 12.32px;
}
/* line 473, ../sass/main.scss */
.quad-container .quarter:nth-of-type(4n - 3) {
  margin-left: 0;
}
/* line 477, ../sass/main.scss */
.quad-container .quarter:nth-of-type(4n) {
  margin-right: 0;
}
/* line 486, ../sass/main.scss */
.quad-container .half {
  vertical-align: top;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 474.24px;
  margin: 16.12px;
  padding-top: 12.32px;
}
/* line 494, ../sass/main.scss */
.quad-container .half:first-of-type {
  margin-left: 0;
}
/* line 498, ../sass/main.scss */
.quad-container .half:last-of-type {
  margin-right: 0;
}

/******************************                  *************************************************/
/****************************** H O M E  P A G E ************************************************/
/******************************                  ************************************************/
/* line 513, ../sass/main.scss */
#home-page {
  /********************************** T O P  S E C T I O N ***************************************************/
  /********************************** T A B L E ***************************************************/
}
/* line 517, ../sass/main.scss */
#home-page #top-section {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
/* line 525, ../sass/main.scss */
#home-page #top-section .header-container {
  position: absolute;
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  color: #041e42;
  padding-top: 4rem;
}
/* line 538, ../sass/main.scss */
#home-page #top-section .header-container h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
/* line 543, ../sass/main.scss */
#home-page #top-section .header-container h2 {
  font-size: 1.85rem;
}
/* line 549, ../sass/main.scss */
#home-page .lockers {
  content: "";
  display: inline-block;
  background-image: url("../img/locker.jpg");
  background-size: contain;
  background-position: left;
  width: calc(50% - 194px);
  height: 100%;
}
/* line 559, ../sass/main.scss */
#home-page .lockers:first-of-type {
  background-position: right;
}
/* line 565, ../sass/main.scss */
#home-page #header-image {
  height: 100%;
  display: inline-block;
  /*background-image: url("../img/Krystal_red.jpg");
  background-size: contain;
  background-repeat:no-repeat;
  background-position:center;			
  position:relative;*/
  /*&:after {
  	content:"";
  	display:inline-block;
  	background-image: url("../img/locker.jpg");
  	background-size: contain;
  	//background-repeat:no-repeat;
  	background-position:center;
  	width:50%;
  	height:100%;
  	position:absolute;
  	right:-15%;
  }
  
  &:before {
  	content:"";
  	display:inline-block;
  	background-image: url("../img/locker.jpg");
  	background-size: contain;
  	//background-repeat:no-repeat;
  	background-position:center;
  	width:50%;
  	height:100%;
  	position:absolute;
  	left:-15%;
  }*/
}
/* line 603, ../sass/main.scss */
#home-page .programs-table {
  width: 950px;
  margin: 4rem auto;
  vertical-align: top;
}
/* line 608, ../sass/main.scss */
#home-page .programs-table > h2 {
  margin-bottom: .5rem;
}
/* line 612, ../sass/main.scss */
#home-page .programs-table > h3 {
  margin-bottom: 4rem;
}
/* line 617, ../sass/main.scss */
#home-page .program {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  width: 33%;
  height: 750px;
  background-color: rgba(200, 200, 200, 0);
}
/* line 626, ../sass/main.scss */
#home-page .program:first-child:before {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  content: "";
  width: 2px;
  height: 300px;
  background-color: rgba(80, 80, 80, 0.9);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 1;
}
/* line 639, ../sass/main.scss */
#home-page .program:after {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  content: "";
  width: 2px;
  height: 300px;
  background-color: rgba(80, 80, 80, 0.9);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 1;
}
/* line 652, ../sass/main.scss */
#home-page .program .table-header {
  height: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 658, ../sass/main.scss */
#home-page .program .table-header:before {
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -webkit-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
  content: "";
  height: 175px;
  width: 100%;
  position: absolute;
  display: block;
  z-index: -1;
}
/* line 668, ../sass/main.scss */
#home-page .program .table-header > *:first-child {
  padding-top: 62.5px;
}
/* line 677, ../sass/main.scss */
#home-page .program .program-description-container {
  position: absolute;
  top: 175px;
  left: -50.51815px;
  min-height: 450px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem 1.25rem;
  text-align: left;
  line-height: 1.5rem;
}
/* line 693, ../sass/main.scss */
#home-page .program .program-description-container a {
  color: #444;
  text-decoration: none;
}
/* line 698, ../sass/main.scss */
#home-page .program .program-description-container ul {
  padding-left: 1.25rem;
}
/* line 701, ../sass/main.scss */
#home-page .program .program-description-container ul li {
  margin-top: .95rem;
  line-height: 1.35rem;
  font-size: .95rem;
}
/* line 708, ../sass/main.scss */
#home-page .program .program-description-container .button-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
}
/* line 722, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header, #home-page .program:nth-of-type(odd) .program-description-container {
  color: #eee;
}
/* line 725, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header h2, #home-page .program:nth-of-type(odd) .program-description-container h2 {
  color: #eee;
}
/* line 728, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header button, #home-page .program:nth-of-type(odd) .program-description-container button {
  color: #ddd;
}
/* line 731, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header button div:before, #home-page .program:nth-of-type(odd) .table-header button div:after, #home-page .program:nth-of-type(odd) .program-description-container button div:before, #home-page .program:nth-of-type(odd) .program-description-container button div:after {
  background-color: #ddd;
}
/* line 735, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header button a, #home-page .program:nth-of-type(odd) .program-description-container button a {
  color: #ddd;
  text-decoration: none;
}
/* line 742, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header:before, #home-page .program:nth-of-type(odd) .program-description-container {
  background-color: #041e42;
  color: #ddd;
}
/* line 748, ../sass/main.scss */
#home-page .program:nth-of-type(odd) .table-header:before button a, #home-page .program:nth-of-type(odd) .program-description-container button a {
  color: #ddd;
  text-decoration: none;
}

/**********************************                                          ****************************************************/
/********************************** S T A N D A R D  P R O G R A M  P A G E  ***************************************************/
/**********************************                                          ****************************************************/
/* line 761, ../sass/main.scss */
#programs {
  display: inline-block;
  /********************************** T O P  S E C T I O N ***************************************************/
  /********************************** A B O U T  S E C T I O N ***************************************************/
  /********************************** C O U R S E S  S E C T I O N ***************************************************/
}
/* line 766, ../sass/main.scss */
#programs #top-section {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding: 4rem;
  padding-bottom: 2rem;
}
/* line 776, ../sass/main.scss */
#programs #top-section h1 {
  font-weight: 400;
  color: #041e42;
}
/* line 781, ../sass/main.scss */
#programs #top-section h3 {
  font-weight: 200;
}
/* line 786, ../sass/main.scss */
#programs #about {
  text-align: left;
  padding: 0 4rem;
}
/* line 790, ../sass/main.scss */
#programs #about h2 {
  font-weight: 200;
}
/* line 794, ../sass/main.scss */
#programs #about .quarter, #programs #about .half {
  border-top: 2px solid #555;
}
/* line 801, ../sass/main.scss */
#programs #courses {
  padding: 0 4rem;
  min-height: 500px;
}
/* line 805, ../sass/main.scss */
#programs #courses h2 {
  text-align: left;
  padding-top: 4rem;
  font-weight: 200;
  max-width: 221px;
  white-space: nowrap;
  padding-bottom: 18.12px;
  border-bottom: 2px solid #555;
}

/* line 861, ../sass/main.scss */
#course-category-container {
  position: relative;
}
/* line 864, ../sass/main.scss */
#course-category-container .course-category {
  position: absolute;
  height: 85px;
  width: 221px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 14px;
  padding: 0 .5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
}
/* line 877, ../sass/main.scss */
#course-category-container .course-category h3 {
  display: block;
  text-align: center;
  font-weight: 200;
  font-size: 1.35rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
}
/* line 887, ../sass/main.scss */
#course-category-container .course-category figure.close-button {
  display: none;
  position: absolute;
  margin: 14.4px 40px;
  top: 7px;
  right: -47px;
  width: 60px;
  height: 16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 897, ../sass/main.scss */
#course-category-container .course-category figure.close-button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 2px;
  height: 100%;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transform: skew(45deg, 5deg);
  -ms-transform: skew(45deg, 5deg);
  -webkit-transform: skew(45deg, 5deg);
  transform: skew(45deg, 5deg);
  background-color: #5a5a5a;
}
/* line 910, ../sass/main.scss */
#course-category-container .course-category figure.close-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 2px;
  height: 100%;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transform: skew(-45deg, 5deg);
  -ms-transform: skew(-45deg, 5deg);
  -webkit-transform: skew(-45deg, 5deg);
  transform: skew(-45deg, 5deg);
  background-color: #5a5a5a;
}
/* line 925, ../sass/main.scss */
#course-category-container .course-category > section {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin: 0 1.25%;
  text-align: left;
}
/* line 932, ../sass/main.scss */
#course-category-container .course-category > section .italicized {
  margin-top: 1.5em;
  margin-bottom: .75rem;
  font-style: italic;
  display: inline-block;
  height: 2.5rem;
}
/* line 940, ../sass/main.scss */
#course-category-container .course-category > section .category {
  font-size: 1rem;
  color: #5a5a5a;
  line-height: 1.15rem;
  margin-top: .75rem;
  padding: 0;
}
/* line 948, ../sass/main.scss */
#course-category-container .course-category > section .classes {
  font-weight: 200;
  letter-spacing: .25px;
}
/* line 952, ../sass/main.scss */
#course-category-container .course-category > section .classes.class-list {
  margin-top: 1.05rem;
}
/* line 956, ../sass/main.scss */
#course-category-container .course-category > section .classes a {
  color: #39b54a;
}
/* line 962, ../sass/main.scss */
#course-category-container .course-category div:before, #course-category-container .course-category div:after {
  -moz-transition: height, 0.2s;
  -o-transition: height, 0.2s;
  -webkit-transition: height, 0.2s;
  transition: height, 0.2s;
  -moz-transition: top, 0.2s;
  -o-transition: top, 0.2s;
  -webkit-transition: top, 0.2s;
  transition: top, 0.2s;
  -moz-transition: bottom, 0.2s;
  -o-transition: bottom, 0.2s;
  -webkit-transition: bottom, 0.2s;
  transition: bottom, 0.2s;
}
/* line 968, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(-n + 4) {
  top: 0;
}
/* line 972, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(-n + 8):nth-of-type(n + 5) {
  top: 125px;
}
/* line 976, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(-n + 12):nth-of-type(n + 9) {
  top: 250px;
}
/* line 980, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 3) {
  left: 0;
}
/* line 984, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 2) {
  left: 253.24px;
}
/* line 988, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 1) {
  left: 506.48px;
}
/* line 992, ../sass/main.scss */
#course-category-container .course-category:nth-of-type(4n - 0) {
  left: 759.72px;
}
/* line 996, ../sass/main.scss */
#course-category-container .course-category div {
  position: absolute;
}
/* line 999, ../sass/main.scss */
#course-category-container .course-category div:before, #course-category-container .course-category div:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #666;
}
/* line 1007, ../sass/main.scss */
#course-category-container .course-category .tl {
  top: 0;
  left: 0;
}
/* line 1011, ../sass/main.scss */
#course-category-container .course-category .tl:after {
  width: 0;
  height: 2px;
}
/* line 1016, ../sass/main.scss */
#course-category-container .course-category .tl:before {
  width: 2px;
  height: 28.05px;
  top: 14.45px;
}
/* line 1023, ../sass/main.scss */
#course-category-container .course-category .tr {
  top: 0;
  right: 2px;
}
/* line 1027, ../sass/main.scss */
#course-category-container .course-category .tr:after {
  right: 0;
  top: 0;
  width: 0;
  height: 2px;
}
/* line 1034, ../sass/main.scss */
#course-category-container .course-category .tr:before {
  width: 2px;
  height: 28.05px;
  top: 14.45px;
}
/* line 1041, ../sass/main.scss */
#course-category-container .course-category .bl {
  bottom: 0;
  left: 0;
}
/* line 1045, ../sass/main.scss */
#course-category-container .course-category .bl:after {
  width: 0;
  height: 2px;
}
/* line 1050, ../sass/main.scss */
#course-category-container .course-category .bl:before {
  width: 2px;
  height: 28.05px;
  bottom: 14.45px;
}
/* line 1057, ../sass/main.scss */
#course-category-container .course-category .br {
  bottom: 0;
  right: 2px;
}
/* line 1061, ../sass/main.scss */
#course-category-container .course-category .br:after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
}
/* line 1068, ../sass/main.scss */
#course-category-container .course-category .br:before {
  width: 2px;
  height: 28.05px;
  bottom: 14.45px;
}
/* line 1075, ../sass/main.scss */
#course-category-container .course-category:hover {
  cursor: pointer;
}
/* line 1079, ../sass/main.scss */
#course-category-container .course-category:hover .tl:before {
  height: 21.25px;
  top: 21.25px;
}
/* line 1084, ../sass/main.scss */
#course-category-container .course-category:hover .tr:before {
  height: 21.25px;
  top: 21.25px;
}
/* line 1089, ../sass/main.scss */
#course-category-container .course-category:hover .bl:before {
  height: 21.25px;
  bottom: 21.25px;
}
/* line 1094, ../sass/main.scss */
#course-category-container .course-category:hover .br:before {
  height: 21.25px;
  bottom: 21.25px;
}
/* line 1100, ../sass/main.scss */
#course-category-container .course-category.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=7);
  opacity: 0.065;
}
/* line 1105, ../sass/main.scss */
#course-category-container .course-category.corners {
  -moz-transition: left 0.375s 0.24375s, width 0.375s ease 0.24375s, height 0.375s ease, top 0.375s;
  -o-transition: left 0.375s 0.24375s, width 0.375s ease 0.24375s, height 0.375s ease, top 0.375s;
  -webkit-transition: left 0.375s, width 0.375s ease, height 0.375s ease, top 0.375s;
  -webkit-transition-delay: 0.24375s, 0.24375s, 0s, 0s;
  transition: left 0.375s 0.24375s, width 0.375s ease 0.24375s, height 0.375s ease, top 0.375s;
}
/* line 1109, ../sass/main.scss */
#course-category-container .course-category.corners .tr:after {
  -moz-transition: width 0.375s 0.24375s;
  -o-transition: width 0.375s 0.24375s;
  -webkit-transition: width 0.375s;
  -webkit-transition-delay: 0.24375s;
  transition: width 0.375s 0.24375s;
}
/* line 1113, ../sass/main.scss */
#course-category-container .course-category.corners .br:after {
  -moz-transition: width 0.375s 0.24375s;
  -o-transition: width 0.375s 0.24375s;
  -webkit-transition: width 0.375s;
  -webkit-transition-delay: 0.24375s;
  transition: width 0.375s 0.24375s;
}
/* line 1117, ../sass/main.scss */
#course-category-container .course-category.corners .tl:before {
  height: 2px;
  top: 0;
}
/* line 1122, ../sass/main.scss */
#course-category-container .course-category.corners .tr:before {
  height: 2px;
  top: 0;
}
/* line 1127, ../sass/main.scss */
#course-category-container .course-category.corners .bl:before {
  height: 2px;
  bottom: 0;
}
/* line 1132, ../sass/main.scss */
#course-category-container .course-category.corners .br:before {
  height: 2px;
  bottom: 0;
}
/* line 1137, ../sass/main.scss */
#course-category-container .course-category.corners .close-button {
  display: block;
  -moz-transition: opacity 0.25s 0s, height 0.25s 0s;
  -o-transition: opacity 0.25s 0s, height 0.25s 0s;
  -webkit-transition: opacity 0.25s, height 0.25s;
  -webkit-transition-delay: 0s, 0s;
  transition: opacity 0.25s 0s, height 0.25s 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 16px;
}
/* line 1146, ../sass/main.scss */
#course-category-container .course-category.stretch {
  z-index: 1;
}
/* line 1149, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button {
  height: 26px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.25s 0.5s, height 0.25s 0.5s;
  -o-transition: opacity 0.25s 0.5s, height 0.25s 0.5s;
  -webkit-transition: opacity 0.25s, height 0.25s;
  -webkit-transition-delay: 0.5s, 0.5s;
  transition: opacity 0.25s 0.5s, height 0.25s 0.5s;
}
/* line 1154, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button:before {
  height: 100%;
}
/* line 1158, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button:after {
  height: 100%;
}
/* line 1162, ../sass/main.scss */
#course-category-container .course-category.stretch .close-button:hover {
  cursor: pointer;
}
/* line 1167, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3), #course-category-container .course-category.stretch:nth-of-type(4n - 2), #course-category-container .course-category.stretch:nth-of-type(4n - 1), #course-category-container .course-category.stretch:nth-of-type(4n - 0) {
  top: -16px;
  left: 221px;
  height: 351.72px;
  width: 538.72px;
}
/* line 1173, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tl:before {
  height: 0;
  top: 0px;
}
/* line 1178, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tl:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tl:after, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tl:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tl:after {
  height: 0;
  top: 0px;
}
/* line 1183, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:before {
  height: 0;
  top: 0;
}
/* line 1188, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:after {
  width: 538.72px;
  height: 2px;
}
/* line 1193, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .bl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .bl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .bl:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .bl:before {
  height: 0px;
  bottom: 0;
}
/* line 1198, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .br:after {
  width: 538.72px;
  height: 2px;
  bottom: 0;
}
/* line 1204, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .br:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .br:before, #course-category-container .course-category.stretch:nth-of-type(4n - 1) .br:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .br:before {
  width: 2px;
  height: 0px;
  bottom: 0;
}
/* line 1211, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3), #course-category-container .course-category.stretch:nth-of-type(4n - 2) {
  -moz-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -o-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -webkit-transition: left 0.5s, width 0.5s ease, height 0.5s ease, top 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.325s, 0.325s;
  transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  cursor: default;
}
/* line 1215, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1219, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .br:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1223, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 3) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 2) .tr:before {
  -moz-transition: height 0.5s 0.325s;
  -o-transition: height 0.5s 0.325s;
  -webkit-transition: height 0.5s;
  -webkit-transition-delay: 0.325s;
  transition: height 0.5s 0.325s;
}
/* line 1228, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1), #course-category-container .course-category.stretch:nth-of-type(4n - 0) {
  -moz-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -o-transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  -webkit-transition: left 0.5s, width 0.5s ease, height 0.5s ease, top 0.5s;
  -webkit-transition-delay: 0s, 0s, 0.325s, 0.325s;
  transition: left 0.5s 0s, width 0.5s ease 0s, height 0.5s ease 0.325s, top 0.5s 0.325s;
  cursor: default;
}
/* line 1232, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1236, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1) .br:after, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .br:after {
  -moz-transition: width 0.5s 0s;
  -o-transition: width 0.5s 0s;
  -webkit-transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition: width 0.5s 0s;
}
/* line 1240, ../sass/main.scss */
#course-category-container .course-category.stretch:nth-of-type(4n - 1) .tr:before, #course-category-container .course-category.stretch:nth-of-type(4n - 0) .tr:before {
  -moz-transition: height 0.5s 0.325s;
  -o-transition: height 0.5s 0.325s;
  -webkit-transition: height 0.5s;
  -webkit-transition-delay: 0.325s;
  transition: height 0.5s 0.325s;
}

/**********************************                                          ****************************************************/
/**********************************        R E S O U R C E S  P A G E        ***************************************************/
/**********************************                                          ****************************************************/
/* line 1253, ../sass/main.scss */
#resources {
  display: inline-block;
}
/* line 1256, ../sass/main.scss */
#resources #top-section {
  padding: 4rem;
}
/* line 1259, ../sass/main.scss */
#resources #top-section h1 {
  text-align: left;
  font-weight: 400;
  color: #041e42;
  margin-bottom: 1rem;
}
/* line 1266, ../sass/main.scss */
#resources #top-section h2 {
  font-weight: 200;
  text-align: left;
  border-bottom: 2px solid #5a5a5a;
  padding-bottom: .25rem;
  margin-top: 2rem;
  max-width: 474.24px;
  letter-spacing: 1px;
  color: #041e42;
}
/* line 1279, ../sass/main.scss */
#resources #top-section .quad-container h4 {
  font-weight: 200;
  color: #3a3a3a;
}
/* line 1285, ../sass/main.scss */
#resources #top-section .quad-container .quarter h4 {
  text-align: center;
}
/* line 1289, ../sass/main.scss */
#resources #top-section .quad-container .quarter .half {
  margin-top: 0;
}
/* line 1293, ../sass/main.scss */
#resources #top-section .quad-container .quarter .icon {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 12.32px;
  fill: #4a4a4a;
  -moz-transition: fill 0.15s;
  -o-transition: fill 0.15s;
  -webkit-transition: fill 0.15s;
  transition: fill 0.15s;
}
/* line 1301, ../sass/main.scss */
#resources #top-section .quad-container .quarter .icon:hover {
  fill: #39b54a;
}

/**********************************                                          ****************************************************/
/**********************************       A P  C O U R S E S  P A G E        ***************************************************/
/**********************************                                          ****************************************************/
/* line 1315, ../sass/main.scss */
#ap {
  display: inline-block;
}
/* line 1318, ../sass/main.scss */
#ap #top-section {
  padding: 4rem;
}
/* line 1321, ../sass/main.scss */
#ap #top-section h1 {
  text-align: left;
  font-weight: 400;
  color: #041e42;
  margin-bottom: 1rem;
}
/* line 1330, ../sass/main.scss */
#ap #top-section .quad-container .half {
  margin-top: 0;
}
/* line 1333, ../sass/main.scss */
#ap #top-section .quad-container .half h2 {
  font-weight: 200;
  text-align: left;
  border-bottom: 2px solid #5a5a5a;
  padding-bottom: .25rem;
  max-width: 474.24px;
  letter-spacing: 1px;
  color: #041e42;
  margin-bottom: 1rem;
}
/* line 1344, ../sass/main.scss */
#ap #top-section .quad-container .half h4 {
  display: block;
  font-weight: 200;
  color: #444;
  vertical-align: top;
}
/* line 1351, ../sass/main.scss */
#ap #top-section .quad-container .half a {
  color: #39b54a;
}
/* line 1355, ../sass/main.scss */
#ap #top-section .quad-container .half > p {
  line-height: 1.4rem;
}
/* line 1359, ../sass/main.scss */
#ap #top-section .quad-container .half ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
/* line 1364, ../sass/main.scss */
#ap #top-section .quad-container .half ul li {
  margin-bottom: .5rem;
}
/* line 1371, ../sass/main.scss */
#ap #top-section .quad-container .half ul.course-list {
  display: inline-block;
}
/* line 1374, ../sass/main.scss */
#ap #top-section .quad-container .half ul.course-list li {
  margin-top: .25rem;
  font-size: 1.02rem;
  font-weight: 200;
}
/* line 1381, ../sass/main.scss */
#ap #top-section .quad-container .half ul.info-list {
  margin-top: .45rem;
}
/* line 1384, ../sass/main.scss */
#ap #top-section .quad-container .half ul.info-list li {
  line-height: 1.4rem;
}
